@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.header{
    font-family: "Noto Sans", sans-serif;
}
.main_nav{
    height: 90px;
    width: 100%;
    background-color:#3b5d50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.unorder ul{
    display: flex;
    /* gap: 33px; */

}

a{
    text-decoration: none;
    color: #bcbbbb;
    font-size: 18px;
    /* /* position: relative; */
    transition: all 0.5s;  
}
a:hover{
    color: #fff;
   
}

li{
    list-style-type: none;
    padding-right: 35px;  
}

.logo{
    /* border: 1px solid #000; */
    width: 300px;
    text-align: center;
}
.logo h2{
    font-size: 39px;
    color: #fff;
}
.shop{
    /* margin-right: 25px; */
    /* border: 1px solid #000; */
    width: 110px;
    /* margin-left: 20px; */
}
.shop .fa-user{
    color: #fff;
    font-size: 21px;
    cursor: pointer;

}
.shop .fa-cart-shopping{
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    margin-left: 28px;
   
}


  